[tool.black]
line-length = 100
target-version = ["py312"]

[tool.ruff]
line-length = 100
extend-select = ["I"]  # sort imports
ignore = ["E501"]      # ignore long lines

[tool.mypy]
python_version = "3.12"
ignore_missing_imports = true
strict_optional = true
check_untyped_defs = true
disallow_untyped_defs = false
